!!!
%head
  %title Bible
  =stylesheet_link_tag    "application"
  =javascript_include_tag "application"
  =csrf_meta_tags

%body
  %header.container
    .navbar
      .navbar-inner
        %a.brand{ :href => "#", :title =>  "Verse Tracker" }
          Verse Tracker
        %ul.nav.pull-right
          %li.active
            %a{:href => "#"}
              Your Verses
          %li
            %form.navbar-search
              %input.search-query{:type => "text"}
              %button.btn{:type => "submit"}
                Search
          %li
            %a
              Settings
          %li
            %a
              Login

  #content.container
    =yield


